In [1]:
import kagglehub
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as seaborn

# Download latest version
path = kagglehub.dataset_download("prasad22/healthcare-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\user\.cache\kagglehub\datasets\prasad22\healthcare-dataset\versions\2

In [2]:
df3 = pd.read_csv(path+'\\health.csv')
df3

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55495,eLIZABeTH jaCkSOn,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal
55496,KYle pEREz,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.797307,316,Elective,2020-02-01,Aspirin,Normal
55497,HEATher WaNG,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",UnitedHealthcare,27620.764717,347,Urgent,2020-08-10,Ibuprofen,Abnormal
55498,JENniFER JOneS,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal
55499,jAMES GARCiA,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [3]:
df3.columns

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results'],
      dtype='object')

In [4]:
df3 = df3.drop(['Name', 'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider', 'Billing Amount', 'Room Number', 
      'Admission Type', 'Discharge Date'], axis = 1 )

In [5]:
df3['Gender'] = df3['Gender'].map({'Female': 1, 'Male': 0})
df3['Test Results'] = df3['Test Results'].map({'Normal': 0, 'Inconclusive': 1, 'Abnormal': 2})

In [6]:
collist = df3.columns
collist

Index(['Age', 'Gender', 'Blood Type', 'Medical Condition', 'Medication',
       'Test Results'],
      dtype='object')

In [7]:
Medical_Condition_unique = np.unique(df3[['Medical Condition']])
Blood_Type_unique = np.unique(df3[['Blood Type']])
Medication_unique = np.unique(df3[['Medication']])

In [8]:
for i in range(len(Medical_Condition_unique)):
    df3[f'Medical_Condition_{Medical_Condition_unique[i]}'] = df3['Medical Condition'].map({f'{Medical_Condition_unique[i]}': 1, '0': 0}).fillna(0)
for i in range(len(Blood_Type_unique)):
    df3[f'Blood_Type_{Blood_Type_unique[i]}'] = df3['Blood Type'].map({f'{Blood_Type_unique[i]}': 1, '0': 0}).fillna(0)
for i in range(len(Medication_unique)):
    df3[f'Medication_{Medication_unique[i]}'] = df3['Medication'].map({f'{Medication_unique[i]}': 1, '0': 0}).fillna(0)

In [9]:
df3 = df3.drop(['Medical Condition', 'Blood Type', 'Medication'], axis = 1 )
df3

,Age,Gender,Test Results,Medical_Condition_Arthritis,Medical_Condition_Asthma,Medical_Condition_Cancer,Medical_Condition_Diabetes,Medical_Condition_Hypertension,Medical_Condition_Obesity,Blood_Type_A+,...,Blood_Type_AB-,Blood_Type_B+,Blood_Type_B-,Blood_Type_O+,Blood_Type_O-,Medication_Aspirin,Medication_Ibuprofen,Medication_Lipitor,Medication_Paracetamol,Medication_Penicillin
0,30,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,62,0,1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,76,1,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,28,1,2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,43,1,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55495,42,1,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
55496,61,1,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
55497,38,1,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
55498,43,0,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
55499,53,1,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [13]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import svm

list_col = df3.drop(['Test Results'], axis=1).columns.to_list()

x = df3.loc[:,list_col].to_numpy()
y = df3.loc[:,['Test Results']].to_numpy().flatten()

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=42)

In [15]:
log = LogisticRegression().fit(x_train, y_train)
reg = LinearRegression().fit(x_train, y_train)
vector_1 = svm.SVC(C = 0.1).fit(x_train, y_train)
vector_2 = svm.SVC(C = 10).fit(x_train, y_train)

In [16]:
print('коробочные решения')
print('метрика обучения / теста для:')
print(f'линейная регрессия: {round(reg.score(x_train, y_train), 2)} / {round(reg.score(x_test, y_test), 2)}')
print(f'логистическая регрессия: {round(log.score(x_train, y_train), 2)} / {round(log.score(x_test, y_test), 2)}')
print(f'метод опорных векторов с параметром С = 0.1: {round(vector_1.score(x_train, y_train), 2)} / {round(vector_1.score(x_test, y_test), 2)}')
print(f'метод опорных векторов с параметром С = 10: {round(vector_2.score(x_train, y_train), 2)} / {round(vector_2.score(x_test, y_test), 2)}')

коробочные решения
метрика обучения / теста для:
линейная регрессия: 0.0 / -0.0
логистическая регрессия: 0.34 / 0.34
метод опорных векторов с параметром С = 0.1: 0.34 / 0.34
метод опорных векторов с параметром С = 10: 0.34 / 0.34